.bg_app_arsi {

    background: url('../img/bg_app_arsi.png') center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}



.txt_color {
    color: black;
}


.bg_google_play {

    background: url('../img/googleplay.png') center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}

.video_app {

    width: "560px";
    height: "315px";

}

.dibujar_curso {


    border-radius: 25px;
    border: solid #FFF 2px;
    box-shadow: 0 1px 3px rgb(252, 252, 252), 0 3px 12px rgba(0, 0, 0, 0.22);
}

.dibujar_curso-1:hover {
    /*   box-shadow:  0px 2px 10px #e85441d0; */
    box-shadow: 0px 2px 20px  rgba(0, 0, 0, 0.575);
}