


.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.border123:hover {
  box-shadow: inset 0 0 0 25px #f6f6f6;
}

.grow2:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.retraso-1 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.retraso-2 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}



.featurette-divider {
  margin: 5rem 0;
}

nav {
  padding: 0px;
  text-align: center;
}

nav>ul {
  list-style: none;
  display: inline-block;
}

nav>ul>li {
  float: left;
  width: 150px;
  height: 65px;
  line-height: 65px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

ul.drop-menu li {
  display: none;
}

li:hover>ul.drop-menu li {
  display: block;
}

.tamaño_icono {
  font-size: 120px;
}

.padding_1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 30px;
}

@media (min-width: 400px) {
  .title-size {
    font-size: 2.5em;
  }
}

@media (min-width: 768px) {
  .title-size {
    font-size: 4em;
  }
}



/* ------------------------------------------------------  */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}