@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";
*{
  font-family: 'Ovo', serif;
}

.textoh3 {
  font-family: 'Playfair Display', serif;
  font-size: 21px;
  line-height: 40.5px;
}

.textoh1 {
  font-family: 'Ovo', serif;
}


.TDP {
  font-family: 'Merriweather', serif;
}

.font_subtile {
  font-family: 'Playfair Display', serif;

}

.textop {
  font-family: "Source Sans Pro", Helvetica, sans-serif, serif;
}


@media (min-width: 400px) {
  .TDP {
    font-size: 3.5em;
  }

  .textoh2 {
    font-family: 'Playfair Display', serif;
    font-size: 14px;

  }
}


@media (min-width: 768px) {
  .TDP {
    font-size: 45px;
  }

  .textoh2 {
    font-family: 'Playfair Display', serif;
    font-size: 44px;

  }
}